@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<div class="mx-auto flex max-w-screen-sm flex-col gap-4 py-5">
    <div>
        <section>
            <h2 class="mb-3 text-xl font-semibold">Use a local account to log in.</h2>
            <hr class="mb-3 border-gray-300" />
            <form id="account" method="post" class="flex flex-col gap-3">
                <div asp-validation-summary="ModelOnly" class="text-red-600" role="alert"></div>
                <div class="relative">
                    <label asp-for="Input.Email" class="mb-1 block font-medium">Email</label>
                    <input asp-for="Input.Email" class="block w-full rounded-md bg-zinc-100 p-2" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                    <span asp-validation-for="Input.Email" class="text-red-600"></span>
                </div>
                <div class="relative">
                    <label asp-for="Input.Password" class="mb-1 block font-medium">Password</label>
                    <input asp-for="Input.Password" class="block w-full rounded-md bg-zinc-100 p-2" autocomplete="current-password" aria-required="true" placeholder="password" />
                    <span asp-validation-for="Input.Password" class="text-red-600"></span>
                </div>
                <div>
                    <button id="login-submit" type="submit" class="w-full rounded-lg bg-indigo-600 py-2 font-medium text-white">Log in</button>
                </div>
                <div class="flex items-center space-x-2">
                    <input class="checkbox" asp-for="Input.RememberMe" />
                    <label asp-for="Input.RememberMe">@Html.DisplayNameFor(m => m.Input.RememberMe)</label>
                </div>
                <div class="space-y-2">
                    <p>
                        <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl" class="link">Register as a new user</a>
                    </p>
                </div>
            </form>
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
