@page
@model LogoutModel
@{
    ViewData["Title"] = "Log out";
}

<header>
    <h1 class="text-2xl font-bold">@ViewData["Title"]</h1>
    @if (User.Identity?.IsAuthenticated ?? false)
    {
        <form class="inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
            <button type="submit" class="text-blue-600 underline hover:text-blue-800">Click here to Logout</button>
        </form>
    }
    else
    {
        <p class="text-green-600">You have successfully logged out of the application.</p>
    }
</header>
