@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}


<div class="mx-auto flex max-w-screen-sm flex-col py-5">
    <h2 class="mb-3 text-xl font-semibold">Create a new account.</h2>
    <hr class="mb-3 border-gray-300" />
    <div>
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="space-y-4">
            <div asp-validation-summary="ModelOnly" class="text-red-600" role="alert"></div>
            <div class="relative">
                <label asp-for="Input.Email" class="mb-1 block font-medium">Email</label>
                <input asp-for="Input.Email" class="block w-full rounded-md bg-zinc-100 p-2" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                <span asp-validation-for="Input.Email" class="text-red-600"></span>
            </div>
            <div class="relative">
                <label asp-for="Input.Password" class="mb-1 block font-medium">Password</label>
                <input asp-for="Input.Password" class="block w-full rounded-md bg-zinc-100 p-2" autocomplete="new-password" aria-required="true" placeholder="password" />
                <span asp-validation-for="Input.Password" class="text-red-600"></span>
            </div>
            <div class="relative">
                <label asp-for="Input.ConfirmPassword" class="mb-1 block font-medium">Confirm Password</label>
                <input asp-for="Input.ConfirmPassword" class="block w-full rounded-md bg-zinc-100 p-2" autocomplete="new-password" aria-required="true" placeholder="password" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-red-600"></span>
            </div>
            <button id="registerSubmit" type="submit" class="w-full rounded-lg bg-indigo-600 py-2 font-medium text-white">Register</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
