@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<ul class="gap-2 flex">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index"
               title="Manage">Hello @User.Identity.Name!</a>
        </li>
        <li class="nav-item">
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout"
                  asp-route-returnUrl="@Url.Page("/", new { area = "" })"
                  method="post">
                <button type="submit" class="nav-link btn btn-link text-dark">Logout</button>
            </form>
        </li>
    }
    else
    {
        <li class="block">
            <a class="bg-indigo-600 px-3 py-2 text-white block rounded" asp-area="Identity" asp-page="/Account/Register">Register</a>
        </li>
        <li class="block">
            <a class="bg-zinc-100 px-3 py-2 block rounded" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </li>
    }
</ul>